{
    'application': {
        'origin':      'test',
        'name':        'node0',
        'description': 'node0 - dummy app running without containers.',
        'install':     'echo "Nothing to be done for installing node0..."',
        'remove':      'echo "Nothing to be done for removing node0..."',
    },

    'service': {
        'groups': [ 'audio', 'cdrom', 'video' ],
        'environment': {
            'NODE0_FOO': 'node0-foo',
            'NODE0_BAR': 'node0-bar',
        },

        'start': [
            '/usr/bin/node @OSTRO_APP_ROOT@/lib/node_modules/node0/sample.js 2001 "test-node0 NodeJS dummy application"'
        ],
        'stop': '',

        'autostart': true,
    },

    'container': {
        'type': 'none',
        'network': {
            'ports': [ { 'proto': 'tcp', 'port': 2001 } ],
        },
    },
}
