*filter
:INPUT DROP
:FORWARD DROP
:OUTPUT ACCEPT
# allow containers to access DNS service
-A INPUT -i ve-+ -p udp -m udp --dport 53 -j ACCEPT
-A INPUT -i lo -j ACCEPT
# allow DHCPv6
-A INPUT -s fe80::/10 -p udp -m udp --dport 546 -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p ipv6-icmp -j ACCEPT
# allow forwarding traffic to/from containers
-A FORWARD -o ve-+ -j ACCEPT
-A FORWARD -i ve-+ -j ACCEPT
COMMIT
