[Unit]
Description=Wyliodrin server
After=redis
ConditionFileNotEmpty=/media/card/wyliodrin.json

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/wyliodrind
Restart=always

[Install]
WantedBy=multi-user.target
