[Unit]
Description=Set hostname to galileo + enp MAC
After=default.target
ConditionHost=quark

[Service]
Type=oneshot
ExecStart=/bin/bash -c "hostnamectl set-hostname quark`cat /sys/class/net/enp*/address | head -1 | cut -d ':' -f 4-6 | tr -d ':'`"

[Install]
WantedBy=local-fs.target
