[Unit]
Description=iptables firewall
ConditionPathExists=/etc/iptables/ip6tables.rules
DefaultDependencies=false
Before=network-pre.target multi-user.target shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/ip6tables-restore /etc/iptables/ip6tables.rules

[Install]
WantedBy=network.target
