# These modules are required to enable AT86RF230 802.15.4 radio in the
# MinnowBoard MAX
#
# To enable loading, link as below:
#
# requirement: ln -s /lib/modprobe.d/spi-minnow-at86rf230.conf.sample /etc/modprobe.d/spi-minnow-at86rf230.conf
# install: ln -s /usr/lib/modules-load.d/at86rf230.conf.sample /etc/modules-load.d/at86rf230.conf
#
# NOTE: MinnowBoard MAX BIOS must have LPSS SPI enabled.
spi_pxa2xx_platform
spi-minnow-at86rf230
spi-minnow-board
