{
    'application': {
        'origin':      'yoyodine',
        'name':        'nativetest',
        'description': 'nativetest - native dummy test applcation.',
        'install':     'echo "Nothing to be done for installing..."',
        'remove':      'echo "Nothing to be done for removing..."',
    },

    'service': {
        'groups': [ 'yoyodine-nativetest' ],
        'environment': {
            'FROB': 'nicate',
            'FOOBAR': 'xyzzy',
        },

        'start': [
            '@bindir@/hello-world',
         ],
        'stop': '',

        'autostart': true,
    },

    'container': {
        'type': 'nspawn-app',
        'network': {
            'type': 'VirtualEthernet',
        },
    },
}
